<app-sabw-caesar></app-sabw-caesar>

		<title>Informatik-Kurs an der Junior Akademie</title>
		<link rel="stylesheet" type="text/css" href="style.css"/>

		<h1><u>Informatik-Kurs</u></h1>
			<p><b>Der Informatik-Kurs ist der <strong>Beste</strong> an der Junior Akademie.</b></p>
		<h2><u>Was wir gerade machen</u></h2>
		<ul>
			<li>Wir programmieren gerade ein wenig html.</li>
			<li><em>keine Ahnung</em></li>
      <li><em>Angular</em></li>

		</ul>
		<img src="https://bilder.t-online.de/b/84/93/82/46/id_84938246/920/tid_da/eichhoernchen-geert-weggen-zeigt-die-welt-der-kleinen-nager-.jpg" alt="Eichhörnchen"/>
    