<app-sabw-caesar></app-sabw-caesar>

		<title>Informatik-Kurs an der Junior Akademie</title>
		<link rel="stylesheet" type="text/css" href="style.css"/>

		<h1><u>Informatik-Kurs</u></h1>
			<p><b>Der Informatik-Kurs ist der <strong>Beste</strong> an der Junior Akademie.</b></p>
		<h2><u>Was wir gerade machen</u></h2>
		<ul>
			<li>Wir programmieren gerade ein wenig html.</li>
			<li><em>keine Ahnung</em></li>
      <li><em>Angular</em></li>

		</ul>
		<img src="https://www.ttg-walldorf.de/images/ttg/spiel/2018-19/20181118u093920_019_Valentin.JPG" alt="Tischtennis V"/>
    