#gscheib {
  width: 400px;
  height: 400px;
  position: absolute;
}
#farbe {
  color: #0B074E

}
#kscheib {
  width: 400px;
  height: 400px;
  position: absolute;
}
#box{
  height: 400px;

}
