#gscheib {
  width: 400px;
  height: 400px;
  position: absolute;
}
#farbe {
  color: #0B074E

}
#kscheib {
  width: 400px;
  height: 400px;
  position: absolute;
  /*transform: rotate(318.4615384615384615384615deg);*/
}
#box{
  height: 400px;

}
h1{
  color: #0B074E
}
